
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/text.css}">
    <meta charset="UTF-8">
    <title>Все игры</title>
</head>
<ul class="nav">
    <li><a href="/">Главная</a></li>
    <li><a href="indexPerson">Сотрудник</a></li>
    <li><a href="indexTovar">Товар</a></li>
    <li><a href="indexTur">Тур</a></li>
    <li><a href="indexHero">Герой</a></li>
</ul>
<body>
<div th:each="gam: ${game}">
    <a th:href="@{/{id}/game(id = ${gam.getId()})}" th:text="${gam.getName()}"></a>

</div>

<a href="/newGame">Создать новую игру</a>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>