
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/text.css}">
    <meta charset="UTF-8">
    <title>Все игры</title>
</head>
<ul class="nav">
    <li><a href="/">Главная</a></li>
    <li><a href="indexGame">Игра</a></li>
    <li><a href="indexTovar">Товар</a></li>
    <li><a href="indexTur">Тур</a></li>
    <li><a href="indexPerson">Сотрудник</a></li>
</ul>
<body>
<div th:each="person: ${hero}">
    <a th:href="@{/{id}/hero(id = ${person.getId()})}" th:text="${person.getName()}"></a>

</div>

<a href="/newHero">Создать нового героя</a>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>