<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/text.css}">
<body>
<form th:method="POST" th:action="@{person}" th:object="${person}">
  <label for="name">Введите имя</label>
  <input type="text" id="name" th:field="*{name}">
  <label for="age">Введите возраст</label>
  <input type="text" id="age" th:field="*{age}">
  <label for="surname">Введите фамилию</label>
  <input type="text" id="surname" th:field="*{surname}">
  <label for="midname">Введите отчество</label>
  <input type="text" id="midname" th:field="*{midname}">
  <input type="submit" value="Create">
</form>
</body>
</html>